@page "/"

<h1>Welcome to 6 Nimmt! Online</h1>

<p>An unofficial version of the card game 6 Nimmt!</p>
<p>Click <NavLink href="@($"WaitingRoom/{Guid.NewGuid().ToString()}")" Match="NavLinkMatch.All">here</NavLink> to host a new game.</p>