<div class="card-header text-right font-weight-bold pl-3 pr-3 pt-2 pb-2 bubblegum-font">
    @Card.Points
</div>
<div class="card-body w-100 p-2">
    <div class="d-flex h-100 justify-content-center background-image" style="background-image: url(@GetImageUrl());">
        <div class="align-self-center justify-content-center">
            <h1 class="p-0 mb-0 font-weight-bold bubblegum-font">@Card.Value</h1>
        </div>
    </div>
</div>
@if (PlayerName != null)
{
    <div class="card-footer text-muted text-center p-0">
        @PlayerName
    </div>
}

@code {
    [Parameter]
    public Card Card { get; set; }

    [Parameter]
    public string PlayerName { get; set; }

    private string GetImageUrl()
    {
        string colour;
        switch (Card.Points)
        {
            case 7:
                colour = "red";
                break;
            case 5:
                colour = "orange";
                break;
            case 3:
                colour = "green";
                break;
            case 2:
                colour = "blue";
                break;
            default:
                colour = "purple";
                break;
        }

        return $"/images/bulls-head-{colour}.png";
    }
}